In [7]:
import pandas as pd

### MIP

In [13]:
df = pd.read_csv("../log/results_mip.csv")
df.columns

Index(['file', 'instance', 'num_jobs', 'num_machines', 'solver', 'time_limit',
       'result_status', 'result_objective', 'result_runtime', 'upper_bound',
       'lower_bound', 'relax_status', 'relax_objective', 'relax_runtime'],
      dtype='object')

In [14]:
df_flow = df[df["file"].str.contains("flow")]
df_job = df[df["file"].str.contains("job")]
df_open = df[df["file"].str.contains("open")]

print(len(df_flow), len(df_job), len(df_open))
print("Result Status Counts (flow):", df_flow['result_status'].value_counts().to_dict())
print("Result Status Counts (job):", df_job['result_status'].value_counts().to_dict())
print("Result Status Counts (open):", df_open['result_status'].value_counts().to_dict())

99 100 100
Result Status Counts (flow): {1: 84, 0: 9, -1: 6}
Result Status Counts (job): {1: 100}
Result Status Counts (open): {1: 100}

In [22]:
df_flow[df_flow["result_status"] == 1]\
    .groupby(["file", "solver"])[['result_objective', 'result_runtime']]\
    .mean()\
    .reset_index()\
    .sort_values(by=["solver", "file"])

                           file solver  result_objective  result_runtime
0  ./data/flowshop_tai100_5.txt    cbc            5696.0     2795.699360
2  ./data/flowshop_tai20_10.txt    cbc            1678.8     2700.598631
4  ./data/flowshop_tai20_20.txt    cbc            2513.4     2701.074078
6   ./data/flowshop_tai20_5.txt    cbc            1280.5     2700.440382
8  ./data/flowshop_tai50_10.txt    cbc            3739.2     2711.423630
1  ./data/flowshop_tai100_5.txt  cplex            5897.0      903.600887
3  ./data/flowshop_tai20_10.txt  cplex            1543.2      900.401613
5  ./data/flowshop_tai20_20.txt  cplex            2287.5      900.578447
7   ./data/flowshop_tai20_5.txt  cplex            1232.1      900.350788
9  ./data/flowshop_tai50_10.txt  cplex            3411.5      901.916612

In [23]:
df_job[df_job["result_status"] == 1]\
    .groupby(["file", "solver"])[['result_objective', 'result_runtime']]\
    .mean()\
    .reset_index()\
    .sort_values(by=["solver", "file"])

                          file solver  result_objective  result_runtime
0  ./data/jobshop_tai20_15.txt    cbc            1955.3     2700.594392
2  ./data/jobshop_tai20_20.txt    cbc            2326.1     2700.955019
4  ./data/jobshop_tai30_15.txt    cbc            3806.8     2701.456844
6  ./data/jobshop_tai30_20.txt    cbc            4793.6     2701.919853
8  ./data/jobshop_tai50_20.txt    cbc           11801.1     2708.981868
1  ./data/jobshop_tai20_15.txt  cplex            1406.3      900.384427
3  ./data/jobshop_tai20_20.txt  cplex            1648.2      900.478270
5  ./data/jobshop_tai30_15.txt  cplex            1986.9      900.675578
7  ./data/jobshop_tai30_20.txt  cplex            2287.1      901.253555
9  ./data/jobshop_tai50_20.txt  cplex            3780.0      902.599751

In [24]:
df_open[df_open["result_status"] == 1]\
    .groupby(["file", "solver"])[['result_objective', 'result_runtime']]\
    .mean()\
    .reset_index()\
    .sort_values(by=["solver", "file"])

                           file solver  result_objective  result_runtime
0  ./data/openshop_tai10_10.txt    cbc        690.900000     2702.177529
2  ./data/openshop_tai15_15.txt    cbc       1740.900000     2701.552067
4    ./data/openshop_tai4_4.txt    cbc        170.700000        0.520907
6    ./data/openshop_tai5_5.txt    cbc        255.000000       47.015478
8    ./data/openshop_tai7_7.txt    cbc        415.900000     2704.231416
1  ./data/openshop_tai10_10.txt  cplex        547.384698      872.279235
3  ./data/openshop_tai15_15.txt  cplex        920.900000      900.400153
5    ./data/openshop_tai4_4.txt  cplex        167.800000        0.058406
7    ./data/openshop_tai5_5.txt  cplex        252.000000        0.560496
9    ./data/openshop_tai7_7.txt  cplex        413.413667      247.261562

### CP

In [28]:
df = pd.read_csv("../log/results_cp.csv")
df.columns

Index(['file', 'instance', 'num_jobs', 'num_machines', 'solver', 'time_limit',
       'result_status', 'result_objective', 'result_runtime', 'upper_bound',
       'lower_bound'],
      dtype='object')

In [29]:
df_flow = df[df["file"].str.contains("flow")]
df_job = df[df["file"].str.contains("job")]
df_open = df[df["file"].str.contains("open")]

print(len(df_flow), len(df_job), len(df_open))
print("Result Status Counts (flow):", df_flow['result_status'].value_counts().to_dict())
print("Result Status Counts (job):", df_job['result_status'].value_counts().to_dict())
print("Result Status Counts (open):", df_open['result_status'].value_counts().to_dict())

50 50 50
Result Status Counts (flow): {1: 50}
Result Status Counts (job): {1: 50}
Result Status Counts (open): {1: 50}

In [30]:
df_flow[df_flow["result_status"] == 1]\
    .groupby("file")[['result_objective', 'result_runtime']]\
    .mean()\
    .reset_index()

                           file  result_objective  result_runtime
0  ./data/flowshop_tai100_5.txt             391.7        0.067512
1  ./data/flowshop_tai20_10.txt             650.8        0.038001
2  ./data/flowshop_tai20_20.txt            1232.5        0.047846
3   ./data/flowshop_tai20_5.txt             365.2        0.034325
4  ./data/flowshop_tai50_10.txt             714.2        0.057790

In [31]:
df_job[df_job["result_status"] == 1]\
    .groupby("file")[['result_objective', 'result_runtime']]\
    .mean()\
    .reset_index()

                          file  result_objective  result_runtime
0  ./data/jobshop_tai20_15.txt            1384.0      281.594035
1  ./data/jobshop_tai20_20.txt            1633.6      300.044842
2  ./data/jobshop_tai30_15.txt            1824.5      204.046085
3  ./data/jobshop_tai30_20.txt            2002.1      271.664930
4  ./data/jobshop_tai50_20.txt            2893.9      198.165407

In [32]:
df_open[df_open["result_status"] == 1]\
    .groupby("file")[['result_objective', 'result_runtime']]\
    .mean()\
    .reset_index()

                           file  result_objective  result_runtime
0  ./data/openshop_tai10_10.txt             641.1        0.220959
1  ./data/openshop_tai15_15.txt             946.4        0.222387
2    ./data/openshop_tai4_4.txt             256.3        0.032337
3    ./data/openshop_tai5_5.txt             345.9        0.061645
4    ./data/openshop_tai7_7.txt             508.1        0.040183